/* VARIABLES CSS EN ROOT */
:root {
    --color-principal: #111111;
    /* Texto principal (casi negro) */
    --color-secundario: #ffffff;
    /* Fondo claro o texto en zonas oscuras */
    --color-acento: #f5c300;
    /* Acento amarillo vibrante */
    --color-gris: #eeeeee;
    /* Texto o detalles secundarios */
    --color-rojo: #e10600;
    /* Tono rojo para destacar */
    --color-fondo-oscuro: #1b1b1b;
    /* Fondo oscuro profundo */

    /* TIPOGRAFIA */

    --fuente-titulo: 'Bebas Neue', 'Oswald', sans-serif;
    --fuente-texto: 'Raleway''Montserrat', 'Open Sans', sans-serif;

    /* Tamaño base por defecto (dispositivos medianos) */
    --font-xxl: 4rem;
    --font-xl: 2.5rem;
    --font-lg: 1.5rem;
    --font-md: 1.125rem;
    --font-sm: 0.95rem;
    --font-xs: 0.8rem;
    /* 📱 Dispositivos pequeños (teléfonos) */
    --font-xxl: 2.5rem;
    --font-xl: 1.8rem;
    --font-lg: 1.3rem;
    --font-md: 1rem;
    --font-sm: 0.875rem;
    --font-xs: 0.75rem;
    /* 💻 Dispositivos grandes (pantallas ≥ 1200px) */
    --font-xxl: 5rem;
    --font-xl: 3rem;
    --font-lg: 2rem;
    --font-md: 1.25rem;
    --font-sm: 1rem;
    --font-xs: 0.9rem;
    /* Espaciados (márgenes, paddings, gaps) */
    --space-xxs: 0.25rem;
    /* 4px */
    --space-xs: 0.5rem;
    /* 8px */
    --space-sm: 0.75rem;
    /* 12px */
    --space-md: 1rem;
    /* 16px */
    --space-lg: 1.5rem;
    /* 24px */
    --space-xl: 2rem;
    /* 32px */
    --space-xxl: 3rem;
    /* 48px */



    /* Sombras suaves y modernas */
    --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.08);
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.12);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);
    --shadow-xl: 0 12px 24px rgba(0, 0, 0, 0.25);
    --shadow-strong: 0 16px 32px rgba(0, 0, 0, 0.3);

    /* Sombra para texto */
    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    /* Transiciones */
    --transition-fast: all 0.2s ease-in-out;
    --transition-medium: all 0.4s ease-in-out;
    --transition-slow: all 0.6s ease-in-out;

    /* Bordes redondeados */
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 32px;
    --radius-full: 9999px;
    /* Círculos o pills */

    /* Breakpoints */
    --breakpoint-xs: 480px;
    /* Teléfonos pequeños */
    --breakpoint-sm: 600px;
    /* Teléfonos normales */
    --breakpoint-md: 768px;
    /* Tablets verticales */
    --breakpoint-lg: 1024px;
    /* Tablets horizontales / laptops */
    --breakpoint-xl: 1280px;
    /* Escritorios normales */
    --breakpoint-xxl: 1536px;
    /* Pantallas grandes */
}

/* RESET Y ESTILOS BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--fuente-titulo);
    line-height: 1.6;
    /* color: var(--color-fondo-oscuro); */
    background-color: var(--color-secundario);
    overflow-x: hidden;

}

/* LAYOUT PRINCIPAL CON CSS GRID EN MOVIL */


.pagina {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-area: 15px;
    grid-template-rows: 80px 1fr auto;

    /* Header con logo y navegacion */
    .header {
        grid-area: header;
        background-color: var(--color-principal);
        box-shadow: var(--shadow-ms);
        position: sticky;
        top: 0;
        z-index: 1000;
        transition: var(--transition-medium);

         .header__contenedor {
            max-width: 1280px;
            margin: 0 auto;
            padding: 0 var(--space-md);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 7rem;

            .header__logo {
                width: 250px;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: var(--font-xs);
                font-weight: bold;

                .marco__logo {
                    width: 50px;

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                        border-radius: var(--radius-md);
                    }
                }
                h1 {
                    color: #ffffff;
                }
            }

            .header__menu-toggle {
                display: none;

                &:checked+.header__menu-button span:nth-child(1) {
                    transform: rotate(45deg) translate(6px, 6px);
                }

                &:checked+.header__menu-button span:nth-child(2) {
                    opacity: 0;
                }

                &:checked+.header__menu-button span:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -6px);
                }

                &:checked~.nav {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }

            /* BOTON MOVIL */
            .header__menu-button {
                background-color: var(--color-secundario);
                display: block;
                width: 2rem;
                height: 2rem;
                position: relative;
                cursor: pointer;
                background: none;
                border: none;

                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-secundario);
                    position: absolute;
                    left: 0;
                    transition: var(--transition-medium);
                    transform-origin: center;

                    &:nth-child(1) {
                        top: 6px;
                    }

                    &:nth-child(2) {
                        top: 14px;
                    }

                    &:nth-child(3) {
                        top: 22px;
                    }
                }
            }

            /* menu navegacion */
            .nav {
                background-color: var(--color-fondo-oscuro);
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                box-shadow: var(--shadow-lg);
                transform: translateY(-100%);
                opacity: 0;
                visibility: hidden;
                transition: var(--transition-medium);

                 .nav__list {
                    list-style: none;
                    padding: var(--space-md) 0;

                    .nav__item {
                        border-bottom: 1px solid var(--color-secundario);

                        .nav__link {
                            display: block;
                            padding: var(--space-md) var(--space-lg);
                            color: var(--color-secundario);
                            text-decoration: none;
                            font-weight: 500;
                            transition: var(--transition-fast);

                            &.hover,
                            .nav__link--active {
                                background-color: var(--color-principal);
                                color: var(--color-principal);
                                transform: translateX(8px);
                            }
                        }
                    }
                }
            } 
        } 
    }

    /* cuerpo principal de mi pagina web */
    .main {
        grid-area: main;

        .hero {
            .hero__imagen {
                width: 100vw;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .temas {
            padding: var(--space-xl) var(--space-md);
            background-color: var(--color-secundario);

            .mv_container{
                max-width: 1280px;
                margin: 0 auto;
                display: grid;
                gap: var(--space-sm);

                .mv_header{
                    display: grid ;
                    grid-template-columns: 1fr 1fr;
                    gap: var(--space-md);
                    align-items: center;
                    column-count: 3;
                    column-gap: 70px;
                    margin: 40px;

                    .mv_mision{
                        
                        .mv_title{
                            font-size: var(--font-lg);
                            color: var(--color-principal);
                            margin-bottom: var(--space-lg);
                            text-align: center;
                            }

                            .mv_text {
                                font-size: var(--font-sm);
                                line-height: 1.8;
                                margin-bottom: var(--space-md);
                                text-align: justify;
                                break-inside: avoid;
                                font-family: 'Raleway', sans-serif;
                            }
                    }

                    .mv_vision{

                        .mv_title{
                            font-size: var(--font-lg);
                            color: var(--color-principal);
                            margin-bottom: var(--space-lg);
                            text-align: center;
                        }

                            .mv_text {
                                font-size: var(--font-sm);
                                line-height: 1.8;
                                margin-bottom: var(--space-md);
                                text-align: justify;
                                break-inside: avoid;
                                font-family: 'Raleway', sans-serif;
                            }
                    }
                }

                .vl_header{
                    display: grid ;
                    grid-template-columns: 1fr;
                    gap: var(--space-md);
                    align-items: center;

                    .vl_title{
                        font-size: var(--font-lg);
                        color: var(--color-principal);
                        margin-bottom: var(--space-lg);
                        text-align: center;
                    }
                    .vl_valores{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                        justify-content: center;
                            
                        span{
                            background-color: var(--color-principal);
                            color: white;
                            padding: 6px 12px;
                            border-radius: 12px;
                            font-size: 14px;
                            font-weight: bold;
                            display: inline-block;

                        }
                    }
                }
            
                .slider-header{
                    column-count: 2;
                    width: 100%;
                    padding: var(--space-xxl)var(--space-md);
                    background-color: var(--color-secundario);

                    .slider_img{

                    
                        img {  
                            /* display: flex; */
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            object-position: center 2%;
                    
                        }
                            
                            &:hover {
                                transform: scale(1.04);
                                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
                            }
                    }

                    .slider_title{
                        font-size: var(--font-md);
                        color: var(--color-principal);
                        margin-bottom: var(--space-lg);
                        position: relative;
                        display: inline-block;
                    }
                    .slider_text{
                        font-size: var(--font-sm);
                        color: var(--color-principal);
                        line-height: 1.5;
                        margin-bottom: var(--space-md);
                        text-align: justify;
                        font-family: 'Raleway', sans-serif;
                    }

                    .slider_precio{
                        font-size: var(--font-md);
                        margin-bottom: var(--space-md);
                    }
                    
                }
            
                .racing_header {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: var(--space-xxl);
                    align-items: center;
                    width: 100%;
                    padding: var(--space-xxl)var(--space-md);
                    background-color: var(--color-gris);

                    .racing_noticias {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .racing_title {
                            font-size: var(--font-md);
                            color: var(--color-principal);
                            margin-bottom: var(--space-lg);
                            position: relative;
                            display: inline-block;
                        }
                        
                        .racing_date {
                            font-size: var(--font-md);
                            margin-bottom: var(--space-md);
                        }
                                                                                           .racing_text {
                            font-size: var(--font-sm);
                            color: var(--color-principal);
                            line-height: 1.5;
                            margin-bottom: var(--space-md);
                            text-align: justify;
                            font-family: 'Raleway', sans-serif;
                        }
                    }
                                                                    
                    .racing_img {
                        text-align: center;
                        max-width: 100%;
                        height: 100%;
                        border-radius: 0;
                        overflow: visible;
                        margin: 0 auto;
                        transition: var(--transition-medium);
                
                        img {  
                            display: block;
                            margin: 0 auto;
                            max-width: 100%;
                            height: auto;
                            object-fit: contain;
                            border-radius: 0;
                            object-position: center 2%;
                            
                
                        }
                        
                        &:hover {
                            transform: scale(1.04);
                            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
                .acces_header{
                    margin-top: var(--space-xl);

                    .acces_title{
                        font-size: var(--font-lg);
                        font-weight: 600;
                        color: var(--color-principal);
                        margin-bottom: var(--space-lg);
                        display: flex;
                        align-items: center;
                        gap: var(--space-sm);
                    }
                    .acces_text{
                        font-size: var(--font-sm);
                        color: var(--color-principal);
                        line-height: 1.5;
                        margin-bottom: var(--space-md);
                        text-align: justify;
                        font-family: 'Raleway', sans-serif;
                    }

                    .acces-grid{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: var(--space-xl);

                        .acces-card{
                            background: var(--color-secundario);
                            padding: var(--space-lg);
                            border-radius: var(--radius-xl);
                            text-align: center;
                            box-shadow: var(--shadow-ms);
                            transition: var(--transition-medium);
                            cursor: pointer;
                            border: 2px solid transparent;
                            
                            &:hover{
                                transform: translateY(-5px);
                            }

                            .acces-card__imagen{
                                font-size: 2rem;
                                margin-bottom: var(--space-sm);
                                display: block;

                                img{
                                    max-width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                    border-radius: 8px;
                                }
                            }
                            .acces-card__name{
                                font-size: 18px;
                                margin: 10px 0 5px;
                                color: #222;
                            }
                            .acces-card__descripcion{
                                font-size: 14px;
                                color: #555;
                            }
                        }
                    }
                }
            }
        }
    }



    /* footer */
    .footer{
        grid-area: footer;
        border-top: 1px solid_#ccc;
        padding: 40px 0;
        background-color: var(--color-gris);
        font-family: 'Raleway', sans-serif;

        .footer__container{
            max-width: 1200px;
            margin: 0;
            padding: 0 20px;

            .footer__contenido{
                display: grid;
                grid-template-columns: 1fr 1fr auto;
                align-items: flex-start;
                gap: 40px;

                .footer__complementos {
                    margin: 6px 0;
                    font-size: 14px;
                    color: var(--color-principal);
                    cursor: pointer;
                    
                    .nosotros{
                        &:hover{
                        text-decoration: underline;
                        }
                    }

                    .terminos_condiciones{
                        &:hover{
                        text-decoration: underline;
                        }
                    }

                    .libro_reclamaciones{
                        &:hover{
                        text-decoration: underline;
                        }
                    }

                    .politicas_garantia{
                        &:hover{
                        text-decoration: underline;
                        }
                    }

                    .politicas_privacidad{
                        &:hover{
                        text-decoration: underline;
                        }
                    }

                    .politicas_cambios_devoluciones{
                        &:hover{
                        text-decoration: underline;
                        }
                    }

                }
                .footer__social{
                    .footer_logo{
                        img{
                            width: 120px;
                            margin-bottom: 10px;
                        }
                        .footer__text{
                            font-weight: bold;
                            margin-bottom: 15px;
                            font-size: 14px;

                        }
                    }
                    
                    .footer_redes{
                        display: flex;
                        gap: 10px;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                        height: 15px;
                        border-radius: 4px;
                        background-color: var(--color-gris);
                        padding: 4px;
                        cursor: pointer;
                        
                            img{
                                max-width: 100%;
                                height: 50px;
                                object-fit: cover;
                                background-color: var(--color-gris);
                            }
                    }
                }
            }
            
        }
    }
}

/* ACA VA IR LOS QUERIS PARA HACER RESPONSIVE MI PAG WEB */
@media (min-width: 640px){

    .pagina{
        .main{
            .temas{
                .mv_container{

                    .racing_header{
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: var(--space-md);
                    }
                }
            }
        }

    }

}


@media (min-width: 768px) {
    .pagina {
        .header {
            .header__contenedor {
                .header__menu-button {
                    display: none;
                }

                .nav {
                    position: static;
                    transform: none;
                    opacity: 1;
                    visibility: visible;
                    box-shadow: none;
                    background: transparent;
                    
                    .nav__list {
                        display: flex;
                        padding: 0;
                        gap: var(--space-lg);

                        .nav__item {
                            border: none;

                            .nav__link {
                                padding: var(--space-sm) var(--space-md);
                                border-radius: var(var(--radius-md));

                            }
                        }
                    }
                } 
            }
        }

        .main{
            .temas{
                .mv_container{

                    .racing_header{
                        grid-template-columns: 1fr 1fr;

                        .racing_noticias{
                            align-items: flex-start;
                            text-align: left;
                        }
                        .racing_img{
                            max-width: 100%;
                            margin: 0 auto;
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .pagina {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";

        .header {
            display: flex;
            align-items: center;
            width: 100vw;

            .header__contenedor{
                width: 100%;
                
                .header__logo{
                    width: 350px;
                    gap: 20px;
                    display: flex;
                    
                    img {
                        width: 100%;
                        transition: transform var(--breakpoint-xs);
                    }
                }
            }

        }

        .nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }
    
}